# ===== ENV FILES =====
.env
.env.*

# ===== PYTHON =====
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# ===== NODE / REACT =====
node_modules/
dist/
build/

# ===== DATABASE =====
*.db
*.sqlite3

# ===== OS =====
.DS_Store

# ===== IDE =====
.vscode/
.idea/
